body{
    background-color: #ebfafa;
}
.text-center{
    text-align: center;
}
.btn{
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #248f8f;
    color: #fff;
    cursor: pointer;
}