

.input-box{
    margin: 10px;
    font-size: 20px;
    padding: 10px 15px;
    width: 350px;
    border-radius: 7px;
}
.gender-container{
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.btn-signup{
margin: 30px auto;
display: block;
}